
<article class="flex mb-4 h-32 w-full mr-1 ">
  <figure class="flex-shrink-0 h-32 w-24 md:w-16 xl:w-28">
    <img class="h-full w-full object-cover" [src]="items.image" alt="photo">
  </figure>
  <div class="ml-4 h-full flex flex-col justify-between md:ml-2 md:w-full xl:ml-4">
    <div class="text-grayish-blue text-3xl font-semibold md:text-lg md:mb-1 xl:text-4xl">{{items.value}}</div>
    <h2 class="text-very-dark-blue font-bold text-lg hover:cursor-pointer hover:text-soft-red md:text-base md:mb-1 xl:text-xl">{{items.title}}</h2>
    <p class="text-dark-grayish-blue text-base font-semibold md:text-sm md:mb-1 xl:text-lg">{{items.description}}</p>
  </div>
</article>
